.container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1250px) {
  .container {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}
